.sidebar {
  width: 250px;
  background: #f9f9f9;
  border-right: solid 1px #eee;
  font-size: 14px;
  overflow-y: auto;
}
.sidebar__header {
  margin-top: 20px;
  color: #999;
  font-size: 12px;
  font-weight: bold;
}
.sidebar ul li {
  display: block;
  position: relative;
  right: 10%;
}

.sidebar ul li{
  padding: 10px 30px;
  display: block;
  color: #666;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sidebar ul li , i.fa {
  margin-right: 5px;
  font-size: 12px;
  
}
.sidebar ul li i{
  margin-right: 10px;
}

.sidebar ul li:hover {
  text-decoration: none;
}