.avatar {
  display: inline-block;
}

.avatar__image {
  width: 100%;
  height: 100%;
  border: solid 2px #ddd;
  vertical-align: middle;
  border-radius: 50%;
}

.avatar__image--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #fff;
  background: #2296f3;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}