
.header {
  display: block;
  width: 100%;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.header__section {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #c43235;
  color: #fff;
}
.app_info {
  color: #fff;
  display: flex;
  align-items: center;
  line-height: 55px;
  height: 55px;
  font-size: 18px;
}
.logo {
  color: #fff;
  display: block;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
}
.logo:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
}
.app_name {
  margin: 0 25px 0 10px;
  font-weight: bold;  
}
.app_name a,
.app_name  {
  color: #fff !important;
  text-decoration: none;
  font-size: 18px;
}
.profile_name {
  margin: 0 7px;
  font-weight: bold;
  text-transform: capitalize;
}

.logout__link {
  color: #fff;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  text-align: center;
  min-width: 40px;
  display: block;
  margin-right: 20px;
}
.logout__link i.fa {
  margin-right: 5px;
}
.navbar {
  padding: 0 10px 0 45px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li:last-child a:after,
.navbar ul li:last-child a:before {
  display: none;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  padding: 5px 9px 3px 11px;
  cursor: pointer;
  position: relative;
  border-bottom: solid 2px transparent;
  color: #333;
}

.navbar ul li a:hover {
  text-decoration: none;
}

.navbar ul li img {
  position: relative;
  height: 20px;
  margin: 0 7px -7px 2px;
}

.navbar ul li a:after {
  background: #ddd;
  right: 0;
}

.navbar ul li a:before {
  right: 1px;
  background: #f4f4f4;
}

.navbar ul li a i.fa,
.navbar ul li a img {
  color: #666;
  font-size: 12px;
  margin: 0 5px 0 0;
  display: inline-block;
  width: 16px;
  height: 16px;
}