.login_banner, .login_form {
  display: flex;
  height: 100%;
  flex: 1;
}

.login_banner {
  align-items: flex-end;
  background: url(http://blockscopes.com:3003/images/background/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 50%;
}

.login_banner .logo {
  top: 20px;
  left: 30px;
  position: absolute;
}

.login_banner .logo_letter, 
.login_banner .logo {
  display: flex;
  align-items: center;
}

.login_banner .logo_letter {
  background: #c43235;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 0 8px 1px #ddd;
  justify-content: center;
  font-size: 35px;
  font-weight: 700;
}

.login_banner .logo_text {
  font-size: 24px;
  margin-left: 10px;
  color: #c43235;
  font-weight: 700;
}

.login_form {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 30px 100px;
  background: #fff;
  position: relative;
  display: inline-block;
  left: 50%;
}
.login_form_content{
  margin: 80% 0 0 0;
}

.login_form .circles {
  position: relative;
  left: 43%;
}

.login_form .circles:before {
  content: "";
  position: absolute;
  height: 250px;
  width: 300px;
  background: rgba(153,198,239,.25882);
  right: -40px;
  top: -186px;
  border-radius: 50%;
  z-index: 1;
}

.login_form .circles:after {
  content: "";
  position: absolute;
  height: 300px;
  width: 250px;
  background: rgba(153,198,239,.25882);
  right: -90px;
  top: -118px;
  border-radius: 1% 1% 1% 100%;
  z-index: 0;
}

.login_form h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  top:15%
}

.login_form p {
  margin: 0 0 25px;
  color: #333;
  font-size: 16px;
  color: #666;
}

.login_form .login_form__input {
  display: block;
  margin-bottom: 15px;
  max-width: 500px;
}
.login_form__input{
  display: flex;
}
.login_form .login_form__input label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
}

.login_form .login_form__input input {
  padding: 12px 20px;
  border: 1px solid #ddd;
  display: block;
  width: 100%;
  outline: none;
  font-size: 13px;
  border-radius: 3px;
}

.login_form .login_form__input input:focus {
  border: solid 1px #c43235;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
}

.login_form .checkbox {
  height: 0;
  width: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  position: absolute;
}

.login_form .checkbox + label{
  cursor: pointer;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
}

.login_form .checkbox__checkmark {
  font-size: 14px;
  position: absolute;
  overflow: hidden;
  height: 16px;
  width: 16px;
  pointer-events: none;
  text-align: center;
  color: #333;
  background-color: #f4f4f4;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.login_form .checkbox__checkmark:after {
  top: 4px;
  left: 3px;
  border-color: #283f62;
  border-width: 0;
  border-style: solid;
  width: 11px;
  height: 6px;
  display: inline-block;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.login_form .checkbox__checkmark:before {
  width: 16px;
  height: 16px;
  background: 0 0;
  border: 1px solid#666;
  border-radius: 3px;
  left: 0;
}

.login_form .checkbox:checked + label div.checkbox__checkmark:after {
  border-width: 0 0 3px 3px;
}

.login_form .checkbox__checkmark:after,
.login_form .checkbox__checkmark:before {
  position: absolute;
  content: "";
  box-sizing: border-box;
}

.login_form .checkbox + label span {
  padding-left: 30px;
  color: #333;
  text-transform: capitalize;
  font-weight: 400;
}

.login_form .forgot_link a {
  font-weight: 700;
  color: #c43235;
  margin: 0 0 0 10px;
}
.forgot_link{
  margin-top: 4px;
}

.login_form .login-form__input__remember {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.login_form .login__button {
  background: #c43235;
  color: #fff;
  font-weight: 600;
  padding: 12px 10px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s ease-in;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  display: inline-block;
  min-width: 300px;
  border: solid 1px #c43235;
}
.login__link{
  color: #fff;
}

.login_form .login__button,
.login_form .login__button_ct {
  display: inline-block;
  box-sizing: border-box;
}

.login_form .login__button_ct {
  width: 100%;
}

.login_form .login__button:hover {
  box-shadow: 0 0 8px 1px #949494;
  background: #c43235;
  text-decoration: none;
}